body {
   background-color: #101010;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0; /* Remover margens padrão do body */
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
    text-decoration:none ;
    transition: 0.3s;
}
header{
    padding: 20px
}

a:hover{
    opacity: 0.7;
}
.logo {
        width: 150px;
        margin-right: 200px;
}
.logo-header {
    width: 150px;
    margin-right: 200px;
    top: 15px;
    position: absolute;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #101010;
    height: 8vh;  
}
main{
    background: url("bg.jpg")no-repeat
    center center;
    background-size: cover;
    height: 92vh;
} 
.nav-list{
    list-style: none;
    display: flex;
    font-size: 20px;
}  
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.banner {
    background-image: url('imgs/fundo-index.webp'); 
    background-size:  100% ;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 200px 0;
    margin: 0; /* Remover margens padrão do banner */
    
}
.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ededed;
    
}
.banner p {
    font-size: 18px;
    color: #ededed;
}
.cta-button {
    display: inline-block;                 
    padding: 10px 20px;
    background-color: #101010;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}
footer {
    background-color: #101010;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 0; /* Remover margens padrão do footer */
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content .social-links a {
    margin-right: 10px;
}
.about-banner {
    display: flex;
    background-color: #fafafa;
    color: #333;
    padding: 40px;
    padding-left: 70px;
    font-family: 'Arial', sans-serif;
}

.about-banner h1 {
    font-size: 48px;
    margin: 0; 
}
.yellow-line {
    position: absolute;
    background-color: #fbcc5d;
    height: 3px;
    width: 150px;
    top: 26%;
    left: 13.6%;
    transform: translate(-50%, -50%);
}

.about-banner p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 60%;
    padding-top: 50px;
  
}

.about-banner img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto; /* Move a imagem para a direita */
}

.assistance-text {
    position: absolute;
    bottom: -100px;
    left: 10px;
    font-size: 10px;
    color: #333;
}
                                                                                                                                                            
